/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*.jumbotron h1 {
  line-height: 1;
  color: inherit;
  padding-bottom: 10px !important;
}*/

/*.btn-default {
  color: #000000 !important;
  background-color: #A30052 !important;
  border-color: #cccccc;
}*/

