* {
  	padding: 0;
  	margin: 0; 
}

body {
  	background-color: #333333;
  	margin: 0; 
}


div {
	background-color: black;
	height: 80px;
	width: 100%;
	background-position: fixed;
}

img{
	border-width:0px;
}

a:active {
    	outline: none;
}

a {
	outline: none; 
}
 
a img {
	outline: none; 
}

a.toggle:active,a.toggle:focus {
 	outline:transparent;
}

ul {
	list-style: none; 
	margin-left: 0; 
	padding-left: 0;
	float: right;
}

li {
 	display: inline;
 	float: left;
}
    	


