<div class="container">
    <div class="blog-footer">
      <p>Made with <a href=""><i class="fa fa-heart fa-1x"></i></a> by Katherine Michel &copy; <!--Katherine Michel--> 2013<script>new Date().getFullYear()>2013&&document.write("-"+new Date().getFullYear());</script> &nbsp; <a href="#">Back to Top</a><br> <br>
      <a name="portfolioelsewhere">  
      	<a href="https://github.com/KatherineMichel" rel="noopener noreferrer" target="_blank"><i class="fa solo fa-github-square fa-5x"></i></a>
      	<a href="https://plus.google.com/u/0/112490330070859885485" rel="noopener noreferrer" target="_blank"><i class="fa solo fa-google-plus-square fa-5x"></i></a>
      	<a href="http://www.linkedin.com/in/katherinemichel" rel="noopener noreferrer" target="_blank"><i class="fa solo fa-linkedin-square fa-5x"></i></a>
      	<a href="http://www.slideshare.net/KatiMichel" rel="noopener noreferrer" target="_blank"><i class="fa solo fa-bar-chart-o fa-5x"></i></a>
      	<a href="https://twitter.com/KatiMichel" rel="noopener noreferrer" target="_blank"><i class="fa solo fa-twitter-square fa-5x"></i></a>
      </p>
      <p

    </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.1.10.2.min.js"><\/script>')</script>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
