<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Katherine Michel">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="Katherine, Kati, Katie, Michel, Michael, website, portfolio, project, management, manager, demo, demos, front-end, frontend, web, development, design">
    <link rel="shortcut icon" href="/favicon.png">
    
<!--
http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013
Authorship Markup 
Rel-Author
Rel-Me
Rel-Publisher
<meta property=”fb:admins” content=”USER_ID”/>
Itemscope=”[pageType]“ – where [pageType]is Article, Blog, Book, Event, LocalBusiness, Organization, Person, Product or Review.
itemprop=”name”– This acts as the title attribute of the rich snippet and should be limited to 140 characters.
itemprop=”description”– This is the description of the rich snippet and should be limited to 185 characters
itemprop=”image” This is the image of the rich snippet with an optimal size is 180 x 120. Google+ will shrink this image, but if it is too small it will not be displayed.
Google+ looks for metadata in the following order: Schema.org > Facebook OpenGraph > Standard Metadata > Best Guess from Scraping
https://developers.google.com/+/web/snippet
Rel-canonical
-->
    <!--Twitter Meta Data    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@katimichel">
    <meta name="twitter:creator" content="@katimichel">
    <meta(name='twitter:title', content='My Portfolio')
    <meta(name='twitter:description', content='My Portfolio')
    <meta(name='twitter:image', content='images/portfolio/web-development.jpg') 
    <meta name="twitter:image0:src" content="">
    <meta name="twitter:image1:src" content="http://.jpg">
    <meta name="twitter:image2:src" content="http://.jpg">
    <meta name="twitter:image3:src" content="http://.jpg">  
    
    <!--Facebook Open Graph Meta Data
    <html prefix="og: http://ogp.me/ns#">
    <meta property='og:type', content='website'/>
    <meta property='og:title', content='My Portfolio'/>
    <meta property='og:site_name', content='http://katherinemichel.github.io'/>
    <meta property='og:url', content='http://katherinemichel.github.io/portfolio'/>
    <meta property='og:description', content='My Portfolio'/>
    <meta property='og:image', content='images/portfolio/web-development.jpg'/>-->
    
    <title>Katherine Michel: Portfolio</title>

    <!--Based on Bootstrap Blog and Start Bootstrap Three Column Portfolio-->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

