    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Portfolio</a>
          <a class="blog-nav-item" href="https://github.com/KatherineMichel" rel="noopener noreferrer" target="_blank">GitHub</a>
          <!--<a class="blog-nav-item" href="https://drive.google.com/open?id=0B02bpu7HZwJRdFVYRGdETXhFU1U" rel="noopener noreferrer" target="_blank">Résumé</a>-->
          <a class="blog-nav-item" href="/contact-me">Contact Me</a>
          <a class="blog-nav-item" href="/attribution">Attribution</a>
          <!--<a class="blog-nav-item" href="blog.html" rel="noopener noreferrer" target="_blank">Blog</a>-->
        </nav>
      </div>
    </div>
