---
layout: default
---

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Katherine Michel
                    <small>{{ page.title }}</small>
                </h1>
            </div>

        </div>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src={{ page.image }} alt="">
            </div>

            <div class="col-md-4">
                <h3>{{ page.headline }}</h3>
                
                 {{ content }}

            </div>

        </div>
        <!-- /.row -->

                 <!--{{ content }}-->

    </div>
